* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* header */

.header {
    background-image: url('images/banner/banner3.png');
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
}

.header h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    padding: 200px 180px 24px 50%;
}

.header p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    padding: 0 180px 30px 55%;
}

.header button {
    margin: 0 180px;
}

/* Button primary */
.btn-primary {
    background: #FFFFFF;
    height: 64px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    border-radius: 5px;
    border-style: none;
}

/* failures-of-previous-year section */
.failures-of-previous-year {
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;

}

.failures-of-previous-year img {
    width: 550px;
    height: 720px;
    margin: 130px 0 0 200px;
}

.failures-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.failures-description {
    margin-top: 370px;
    margin-right: 20%;
}

.failures-description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.failures-description i {
    color: aqua;
    margin-right: 10px;
}

.failures-paragraph {
    margin-bottom: 20px;
}

/* my plans section css */

.My-Plans {
    margin-top: 130px;
    text-align: center;
}

.My-Plans>h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 50px;
}

.My-Plans .plans {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.plans-description img,
h3 {
    margin-bottom: 20px
}

.plans-description h3 {
    font-weight: 800;
    font-size: 30px;
    color: #151414;
}

.plans-description p {
    color: #737272;

}


/* call now section */
.call-now {
    
    height: 250px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url('images/watch.png');
    border-radius: 8px;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 130px 10% 0 10%;
    padding: 60px 0 0 65px;
}

.call-now button{
    margin-top: 25px;
}

.call-now h2 {
    font-weight: 700;
    font-size: 40px;
}

/* footer */

.footer{
    margin-top: 130px;
    height: 550px;
    background: #151414;
}

.footer-flex{
    display: flex;
    gap: 330px;
    padding: 130px 230px;
    color: #FFFFFF;

}

.future{
    font-weight: 700;
font-size: 45px;
margin-bottom: 16px;
}

.future-description{
    font-weight: 400;
font-size: 16px;
margin-bottom: 25px;
}

.info{
    font-weight: 400;
font-size: 16px;
margin-bottom: 20px;
}

.footer a{
    text-decoration: none;
    
}

/* subscribe  */

.subscribe h4 {
    font-weight: 600;
font-size: 25px;
margin-bottom: 30px;
}


.subscribe input[type='email'] {
    height: 64px;
    width: 300px;
    padding-left: 20px;
    margin-bottom: 16px;
    color: #F3F3F3;
}

.subscribe input[type='submit'] {
    background: #005FAC;
    color: #FFFFFF;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    border-radius: 5px;
    border-style: none;
}
